<section class="seuils-parametrage">
  <h2 class="texte-lg poids-gras exterieur-bas-2 exterieur-haut-0">Seuils de couleur</h2>
  <p class="texte-discret texte-sm exterieur-bas-3">
    Toute modification s'applique instantanément à l'ensemble de l'historique déjà intégré, sans
    nouvel audit.
  </p>

  @if (!fichierCharge()) {
    <p class="seuils-parametrage__vide texte-discret">Aucun fichier n'est chargé.</p>
  } @else {
    <form
      class="seuils-parametrage__formulaire d-flex direction-colonne ecart-4"
      (ngSubmit)="demanderEnregistrement()"
    >
      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">Vitalité du dépôt</legend>
        <label class="champ">
          Jours sans commit avant « mourant »
          <input
            type="number"
            class="champ__controle"
            name="vitaliteMourantJours"
            [ngModel]="vitaliteMourantJours()"
            (ngModelChange)="vitaliteMourantJours.set($event)"
            aria-describedby="seuils-parametrage-vitalite-mourant-jours-aide"
          />
          <span id="seuils-parametrage-vitalite-mourant-jours-aide" class="champ__aide"
            >Ex. 180</span
          >
        </label>
        <label class="champ">
          Jours sans commit avant « mort »
          <input
            id="seuils-parametrage-champ-vitalite-mort-jours"
            type="number"
            class="champ__controle"
            name="vitaliteMortJours"
            [ngModel]="vitaliteMortJours()"
            (ngModelChange)="vitaliteMortJours.set($event)"
            aria-describedby="seuils-parametrage-vitalite-mort-jours-aide"
          />
          <span id="seuils-parametrage-vitalite-mort-jours-aide" class="champ__aide">Ex. 365</span>
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">
          Classe de taille du dépôt (octets)
        </legend>
        <label class="champ">
          Borne S
          <input
            type="number"
            class="champ__controle"
            name="tailleDepotBorneS"
            [ngModel]="tailleDepotBorneS()"
            (ngModelChange)="tailleDepotBorneS.set($event)"
            aria-describedby="seuils-parametrage-taille-depot-borne-s-aide"
          />
          <span id="seuils-parametrage-taille-depot-borne-s-aide" class="champ__aide"
            >Ex. 20000000 (soit 20 Mo)</span
          >
        </label>
        <label class="champ">
          Borne L
          <input
            type="number"
            class="champ__controle"
            name="tailleDepotBorneL"
            [ngModel]="tailleDepotBorneL()"
            (ngModelChange)="tailleDepotBorneL.set($event)"
            aria-describedby="seuils-parametrage-taille-depot-borne-l-aide"
          />
          <span id="seuils-parametrage-taille-depot-borne-l-aide" class="champ__aide"
            >Ex. 100000000 (soit 100 Mo)</span
          >
        </label>
        <label class="champ">
          Borne XL
          <input
            type="number"
            class="champ__controle"
            name="tailleDepotBorneXL"
            [ngModel]="tailleDepotBorneXL()"
            (ngModelChange)="tailleDepotBorneXL.set($event)"
            aria-describedby="seuils-parametrage-taille-depot-borne-xl-aide"
          />
          <span id="seuils-parametrage-taille-depot-borne-xl-aide" class="champ__aide"
            >Ex. 500000000 (soit 500 Mo)</span
          >
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">Couverture de tests (%)</legend>
        <label class="champ">
          Seuil rouge
          <input
            type="number"
            class="champ__controle"
            name="couvertureSeuilRouge"
            [ngModel]="couvertureSeuilRouge()"
            (ngModelChange)="couvertureSeuilRouge.set($event)"
            aria-describedby="seuils-parametrage-couverture-seuil-rouge-aide"
          />
          <span id="seuils-parametrage-couverture-seuil-rouge-aide" class="champ__aide"
            >Ex. 40</span
          >
        </label>
        <label class="champ">
          Seuil orange
          <input
            type="number"
            class="champ__controle"
            name="couvertureSeuilOrange"
            [ngModel]="couvertureSeuilOrange()"
            (ngModelChange)="couvertureSeuilOrange.set($event)"
            aria-describedby="seuils-parametrage-couverture-seuil-orange-aide"
          />
          <span id="seuils-parametrage-couverture-seuil-orange-aide" class="champ__aide"
            >Ex. 60</span
          >
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">Fraîcheur Sonar</legend>
        <label class="champ">
          Tolérance en jours
          <input
            type="number"
            class="champ__controle"
            name="fraicheurSonarToleranceJours"
            [ngModel]="fraicheurSonarToleranceJours()"
            (ngModelChange)="fraicheurSonarToleranceJours.set($event)"
            aria-describedby="seuils-parametrage-fraicheur-sonar-tolerance-jours-aide"
          />
          <span id="seuils-parametrage-fraicheur-sonar-tolerance-jours-aide" class="champ__aide"
            >Ex. 7</span
          >
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">Activité sans qualité</legend>
        <label class="champ">
          Nombre minimal de commits
          <input
            type="number"
            class="champ__controle"
            name="activiteSansQualiteMinCommits"
            [ngModel]="activiteSansQualiteMinCommits()"
            (ngModelChange)="activiteSansQualiteMinCommits.set($event)"
            aria-describedby="seuils-parametrage-activite-sans-qualite-min-commits-aide"
          />
          <span id="seuils-parametrage-activite-sans-qualite-min-commits-aide" class="champ__aide"
            >Ex. 20</span
          >
        </label>
        <label class="champ">
          Nombre minimal de nouvelles violations
          <input
            type="number"
            class="champ__controle"
            name="activiteSansQualiteMinNouvellesViolations"
            [ngModel]="activiteSansQualiteMinNouvellesViolations()"
            (ngModelChange)="activiteSansQualiteMinNouvellesViolations.set($event)"
            aria-describedby="seuils-parametrage-activite-sans-qualite-min-nouvelles-violations-aide"
          />
          <span
            id="seuils-parametrage-activite-sans-qualite-min-nouvelles-violations-aide"
            class="champ__aide"
            >Ex. 10</span
          >
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">Fraîcheur d'audit</legend>
        <label class="champ">
          Jours avant projet « non audité récemment »
          <input
            type="number"
            class="champ__controle"
            name="fraicheurAuditAncienJours"
            [ngModel]="fraicheurAuditAncienJours()"
            (ngModelChange)="fraicheurAuditAncienJours.set($event)"
            aria-describedby="seuils-parametrage-fraicheur-audit-ancien-jours-aide"
          />
          <span id="seuils-parametrage-fraicheur-audit-ancien-jours-aide" class="champ__aide"
            >Ex. 30</span
          >
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">
          Demandes de fusion ouvertes
        </legend>
        <label class="champ">
          Âge orange (jours)
          <input
            type="number"
            class="champ__controle"
            name="mrOuvertesAgeOrangeJours"
            [ngModel]="mrOuvertesAgeOrangeJours()"
            (ngModelChange)="mrOuvertesAgeOrangeJours.set($event)"
            aria-describedby="seuils-parametrage-mr-ouvertes-age-orange-jours-aide"
          />
          <span id="seuils-parametrage-mr-ouvertes-age-orange-jours-aide" class="champ__aide"
            >Ex. 30</span
          >
        </label>
        <label class="champ">
          Âge rouge (jours)
          <input
            type="number"
            class="champ__controle"
            name="mrOuvertesAgeRougeJours"
            [ngModel]="mrOuvertesAgeRougeJours()"
            (ngModelChange)="mrOuvertesAgeRougeJours.set($event)"
            aria-describedby="seuils-parametrage-mr-ouvertes-age-rouge-jours-aide"
          />
          <span id="seuils-parametrage-mr-ouvertes-age-rouge-jours-aide" class="champ__aide"
            >Ex. 90</span
          >
        </label>
        <label class="champ">
          Pourcentage de conflit rouge
          <input
            type="number"
            class="champ__controle"
            name="mrOuvertesPourcentageConflitRouge"
            [ngModel]="mrOuvertesPourcentageConflitRouge()"
            (ngModelChange)="mrOuvertesPourcentageConflitRouge.set($event)"
            aria-describedby="seuils-parametrage-mr-ouvertes-pourcentage-conflit-rouge-aide"
          />
          <span
            id="seuils-parametrage-mr-ouvertes-pourcentage-conflit-rouge-aide"
            class="champ__aide"
            >Ex. 50</span
          >
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">
          Couleurs des violations bloquantes
        </legend>
        <label class="champ">
          Seuil orange
          <input
            type="number"
            class="champ__controle"
            name="couleursViolationsBloquantSeuilOrange"
            [ngModel]="couleursViolationsBloquantSeuilOrange()"
            (ngModelChange)="couleursViolationsBloquantSeuilOrange.set($event)"
            aria-describedby="seuils-parametrage-violations-bloquant-seuil-orange-aide"
          />
          <span id="seuils-parametrage-violations-bloquant-seuil-orange-aide" class="champ__aide"
            >Ex. 1 violation bloquante</span
          >
        </label>
        <label class="champ">
          Seuil rouge
          <input
            type="number"
            class="champ__controle"
            name="couleursViolationsBloquantSeuilRouge"
            [ngModel]="couleursViolationsBloquantSeuilRouge()"
            (ngModelChange)="couleursViolationsBloquantSeuilRouge.set($event)"
            aria-describedby="seuils-parametrage-violations-bloquant-seuil-rouge-aide"
          />
          <span id="seuils-parametrage-violations-bloquant-seuil-rouge-aide" class="champ__aide"
            >Ex. 3 violations bloquantes</span
          >
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">
          Couleurs des violations critiques
        </legend>
        <label class="champ">
          Seuil orange
          <input
            type="number"
            class="champ__controle"
            name="couleursViolationsCritiqueSeuilOrange"
            [ngModel]="couleursViolationsCritiqueSeuilOrange()"
            (ngModelChange)="couleursViolationsCritiqueSeuilOrange.set($event)"
            aria-describedby="seuils-parametrage-violations-critique-seuil-orange-aide"
          />
          <span id="seuils-parametrage-violations-critique-seuil-orange-aide" class="champ__aide"
            >Ex. 10 violations critiques</span
          >
        </label>
        <label class="champ">
          Seuil rouge
          <input
            type="number"
            class="champ__controle"
            name="couleursViolationsCritiqueSeuilRouge"
            [ngModel]="couleursViolationsCritiqueSeuilRouge()"
            (ngModelChange)="couleursViolationsCritiqueSeuilRouge.set($event)"
            aria-describedby="seuils-parametrage-violations-critique-seuil-rouge-aide"
          />
          <span id="seuils-parametrage-violations-critique-seuil-rouge-aide" class="champ__aide"
            >Ex. 25 violations critiques</span
          >
        </label>
      </fieldset>

      <fieldset class="carte interieur-4 d-flex direction-colonne ecart-3">
        <legend class="d-block poids-gras texte-sm exterieur-bas-2">
          Matérialité du brouillon
        </legend>
        <label class="champ">
          Variation relative
          <input
            type="number"
            step="0.01"
            class="champ__controle"
            name="materialiteBrouillonVariationRelative"
            [ngModel]="materialiteBrouillonVariationRelative()"
            (ngModelChange)="materialiteBrouillonVariationRelative.set($event)"
            aria-describedby="seuils-parametrage-materialite-variation-relative-aide"
          />
          <span id="seuils-parametrage-materialite-variation-relative-aide" class="champ__aide"
            >Ex. 0.1 (soit une variation de 10 %)</span
          >
        </label>
      </fieldset>

      <div class="seuils-parametrage__actions d-flex aligne-centre ecart-4">
        <span class="texte-sm texte-discret"
          >{{ nombreDeModifications() }} seuil(s) modifié(s)</span
        >
        <button
          id="seuils-parametrage-bouton-enregistrer"
          type="submit"
          class="bouton bouton--principal"
          [disabled]="enCours() || nombreDeModifications() === 0"
        >
          Enregistrer les seuils modifiés
        </button>
      </div>
    </form>

    @if (actionEnAttenteMotDePasse()) {
      <app-confirmation-mot-de-passe
        message="Ressaisissez le mot de passe du fichier pour enregistrer les seuils modifiés."
        (confirmee)="confirmerEnregistrement($event)"
        (annulee)="annulerMotDePasse()"
      />
    }
  }
</section>
